<div class="row">
  <div class="col-sm">
      <h1>Visualize data from CSV file</h1>
      <hr>
  </div>
</div>
<div class="row">
  <div class="col-sm">
      <div class="form-group">
          <label class="input-label">Upload your CSV File</label>
          <input type="file" id="upload-file" accept=".csv" (change)="handleFileInput($event.target.files)" />
      </div>
      <hr>
  </div>
</div>
<div *ngIf="users.length > 0" class="row">
  <div class="col-sm">
    <button (click)="sortByIssueCount()" type="button" class="btn btn-primary">Sort by issue count</button>
    <hr>
    <div class="users">
      <h2>
          Users
      </h2>
      <div *ngFor="let user of users">
        <div *ngFor="let property of user | keyvalue">
          <dl>
            <dt>{{property.key}}</dt>
            <dd>{{property.value}}</dd>
          </dl>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
